body {
    background-image: linear-gradient(#E3FDFD,#CBF1F5,#A6E3E9,#71C9CE)
 }
 hr{
    border-style: none;
    border-top-style: dotted ;
    height: 0px ;
    width: 5%;
    border-width: 5px;
    border-color: darkgray;
 }
 h3{
   color: #7D8F69;
 }
 h1{
   color: #7D8F69;
   text-shadow: 2px 2px 5px;
 }
 a:hover{
   color: black;
 }
 
