body {background-color: rgb(150, 150, 212);}
        #old{background-color: aqua;}
        .bg{background-color: rgb(15, 123, 217);
        color: aliceblue;}
/* section.bg{
    color: rgb(19, 19, 17);
} */
div{
    background-color: antiquewhite;
}
*{
    margin-top: 0px;
    padding: 0px;
} 
.color{
    color: black;
}