body {
    background-color: #ceeeec; 
 }
 hr{
    border-style: none;
    border-top-style: dotted ;
    height: 0px ;
    width: 5%;
    border-width: 5px;
    border-color: darkgray;
 }
 h3{  
   color: #7D8F69;
 }
 h1{
   color: #7D8F69;
   text-shadow: 2px 2px 5px;
 }

